<launch>

  <arg name="port" default="/dev/ttyUSB0" />
  <arg name="control_mode" default="manual" />
  
  <!-- Node to run the rosserial_python serial_node.py -->
  <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port" value="$(arg port)" />
  </node>4
  
  <!-- Node for the vehicle steering angle + velocity control -->
  <node name="aruco_corners_node" pkg="aruco-course-correction" type="aruco-corners-pub.py" output="screen">
  </node>
  
  <!-- Node for getting the vehicle's current twist -->
  <node name="updated_twist_node" pkg="aruco-course-correction" type="updated-twist-pub.py" output="screen">
  </node>
  
</launch>
